* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: rgb(255, 255, 255);
  }
  
  header {
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: rgb(68, 0, 255);
  }
  
  main {
    display: flex; 
    justify-content: center;
  }
  
  form {
    width: 350px;
    height: 350px;
    background-color: rgb(8, 185, 32);
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;
  }
  
  button {
    background-color: #012b85;
    width: 150px;
    height: 25px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    border: none;
    margin: 5px;
  }
  
  input[type='text'] {
    width: 85%;
    height: 30px;
    border: none;
    border-bottom: 2px solid #232323;
    color: #232323;
    background-color: snow;
  }
  
  #salary-container {
    width: 85%;
  }
  
  #radio-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  #profiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .profile-cover-image {
    width: 300px; 
    height: 300px;
   
  }
  
  .profile-card {
    background-color: rgb(83, 224, 64);
    width: 300px;
    margin: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-name {
    font-size: 18px;
    margin: 5px 0;
  }
  
  .profile-salary {
    font-size: 15px;
    margin: 5px 0;
  }
  
  .btns-container {
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
  }
  
  .btns-container > button {
    width: 20px;
  }
  
  .music-container {
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    box-shadow:  rgba(0, 132, 255, 0.6);
    display: flex;
    padding: 0px 40px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
  }
  .img-container {
    position: relative;
    width: 110px;
  }
  .img-container img {
    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
  
    animation-play-state: paused;
  }
  .music-container.play .img-container img {
    animation-play-state: running;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .action-btn {
    background-color: rgb(0, 45, 246);
    border: 0;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    padding: 0px;
    margin: 0 10px;
  }
  
  .action-btn:focus {
    outline: 0;
  }
  
  .music-info {
    background-color: rgba(155, 242, 253, 0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 1300px);
    padding: 10px 10px 10px 150px;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
  }
  
  .music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
  }
  
  .music-info h4 {
    margin: 0;
  }.progress-container {
    background: rgb(21, 255, 0);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }
  
  .progress {
    background-color: #002fff;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
  }